name: Run Oracle SQL in Docker

on:
  workflow_dispatch:  # manual trigger in GitHub Actions UI

jobs:
  run-sql:
    runs-on: self-hosted

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      
      - name: Login to Oracle Container Registry
        uses: docker/login-action@v2
        with:
         registry: container-registry.oracle.com
         username: ${{ secrets.ORACLE_USER }}
         password: ${{ secrets.ORACLE_PASS }}  
        

      - name: Build Docker image
        run: docker build --progress=plain -t oracle-sql-runner .

      - name: Run container and execute SQL
        run: |
          docker run --network host oracle-sql-runner

      - name: Commit output to repo
        run: |
            git config user.name "github-actions"
            git config user.email "actions@github.com"
            git add output.txt
            git diff --cached || true
            git commit -m "Automated SQL output update" || echo "No changes to commit"
            git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/krithiksundar/SQLConnection.git HEAD:main
